.project {
  width: 50%;
  height: 40vh;
  position: relative;
  overflow: hidden;
  padding-bottom: 15px;
  padding-right: 15px;
  filter: brightness(0.5);
  transition: 0.3s;
  &:hover {
    filter: brightness(1);
  }
  &:hover .info {
    opacity: 1;
  }
  &:hover .projectImg {
    transform: scale(1.05);
  }
  .projectImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    object-fit: cover;
    transition: 0.6s;
  }
  .info {
    z-index: 2;
    position: absolute;
    bottom: 40px;
    left: 30px;
    opacity: 0;
    transition: 0.3s;
  }
}
