.intro {
  display: flex;
  justify-content: space-between;
  .welcome {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10vh;
    .text {
      line-height: 145px;
      padding-bottom: 70px;
      &.name {
        -webkit-text-stroke: 0.5px #fff;
        color: transparent;
        margin-top: 10px;
        margin-bottom: 100px;
        cursor: default;
      }
    }
  }
  .effect {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15vh;
    .element {
      display: flex;
      justify-content: center;
      align-items: center;
      .splineModel {
        filter: blur(25px);
        opacity: 0;
        animation: splineAppear 2s forwards linear;
        animation-delay: 2s;
      }
    }
  }
}

@keyframes splineAppear {
  from {
    opacity: 0;
    filter: blur(25px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
