.intro {
  .welcome {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10vh;
    .text {
      line-height: 145px;
      padding-bottom: 70px;
      &.name {
        -webkit-text-stroke: 0.5px #fff;
        color: transparent;
        margin-bottom: 100px;
        cursor: default;
      }
    }
  }
}
