.intro {
  display: flex;
  justify-content: space-between;
  .welcome {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10vh;
    .text {
      line-height: 145px;
      padding-bottom: 70px;
      &.name {
        -webkit-text-stroke: 0.5px #fff;
        color: transparent;
        margin-bottom: 100px;
        cursor: default;
      }
    }
  }
  .effect {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15vh;
    .element {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
