@import url(//db.onlinewebfonts.com/c/ace51fb0e489a977bed8a67511865c11?family=Averta+CY+W01);
@import url(//db.onlinewebfonts.com/c/774a72961dd69f90a772237432b1623e?family=Averta-Semibold);

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Averta-Semibold", "Averta CY W01" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
