.menuBtn {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;
  position: fixed;
  right: 8vw;
  top: 2.5vh;
  div {
    width: 45px;
    height: 45px;
    position: relative;
    span {
      background: #fff;
      width: 100%;
      height: 3.5px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
      &:nth-child(1) {
        width: 50%;
        transform: translate(-100%, -12px);
        transform-origin: 0 0;
      }
      &:nth-child(3) {
        width: 50%;
        left: auto;
        right: 0;
        transform: translate(0, 8px);
        transform-origin: 100% 0;
      }
    }
    &.open {
      span {
        &:nth-child(1) {
          transform: translate(0, 0) rotate(-45deg);
        }
        &:nth-child(2) {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-child(3) {
          transform: translate(-100%, 0) rotate(-45deg);
        }
      }
    }
  }
}
