.menuContainer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1;
  transition: 1s;
  &.open {
    z-index: 900;
    backdrop-filter: blur(2px);
    background: #ffffff05;
  }
  .menu {
    transition: transform 1s cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: 45vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #111;
    z-index: 901;
    transform: translateX(100%);
    display: flex;

    justify-content: center;
    &.open {
      transition-delay: 0.2s;
      transform: translateX(0);
    }
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-bottom: 8vh;
      .option {
        transition: 0.4s;
        font-family: "Averta-Regular", sans-serif !important;
        &:hover {
          letter-spacing: 4px;
        }
      }
      .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        height: 10vh;
        .link {
          font-size: 35px;
        }
      }
    }
  }
  .transitionBg {
    transition: transform 1s cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: 45vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    transition-delay: 0.1s;
    transform: translateX(100%);
    &.open {
      transform: translateX(0);
    }
  }
}
